@import '../../../../../scss/main.scss';
.OverviewSection {
    h1 {
        font-size: 40px;
        margin-bottom: 0;
        color: $primary-500;
    }
    p {
        font-size: 15px;
        line-height: 1.73;
        padding-right: 30px;
        text-align: left;
        padding-bottom: 30px;
        position: relative;
        color: $text-gray;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 30px;
            height: 1px;
            background-color: white;
            opacity: 0.09;
        }
    }
}
