@import '../../../scss/globals/variables';
.RightContainer {
    grid-column: 6/13;
    height: 100%;
    padding: 2rem 0;
    display: flex;

    .RightContent {
        width: 100%;
        box-shadow: $main-box-shadow;
        background: $dark-gray;
        padding-left: 35px;
        padding-top: 50px;
    }
}
