@import '../../../scss/globals/variables';
.RightContainer {
    grid-column: 6/13;
    height: 100%;
    padding: 2rem 0;
    display: flex;

    .RightContent {
        box-shadow: 0 12px 30px 0 black;
        flex-grow: 1;
        background: $dark-gray;
        padding-left: 35px;
        padding-top: 50px;
    }
}
