/* Color Pallette */

$primary-100: #cce7f3;
$primary-200: #99cfe7;
$primary-300: #66b6dc;
$primary-400: #339ed0;
$primary-500: #0086c4;
$primary-600: #006b9d;
$primary-700: #005076;
$primary-800: #00364e;
$primary-900: #001b27;

/* General Colors  */
$dark-gray: #1c1c1c;
$white: #ffffff;
$text-white: #f3f3f3;
$text-gray: #888888;
$body-background: #001017;
