@import '../../../scss/globals/variables';

.ProficiencyLevel {
    span {
        font-size: 18px;
    }

    .ProficiencyContainer {
        display: flex;
        margin-top: 0.3rem;
        .LevelComplete,
        .LevelIncomplete {
            height: 16px;
            width: 16px;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
        .LevelComplete {
            background-color: $primary-300;
        }
        .LevelIncomplete {
            border: 1px solid $primary-300;
        }
    }
}
